.Momodemo{
    height: 300px;
}
.sideNav-dashboard {
    height: 100vh;
    background: rgb(25, 27, 39);
    color: aliceblue;
}
.mid-dashboard{
    margin-top: 10px;


}
.textmomo{
    font-weight: bold;
    margin-left: 10%;
    margin-top: 1%;
}
.main-container {
    background: #eaecf5;
}
.header-category-menu {
    background: #FFFFFF;
    border-radius: 5px;
}
.header-category-menu button {
    color: #4F4F4F;
    font-weight: bold;
    &:hover {

    }
}
.header-category-menu .active {
    color: #EA7C69;
}