$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$orange_primary: #ea7c69;
$orange_secondary: #cf624f;
$orange_light_primary: #fdb9ab;
$orange_light_secondary: #FAE0DB;

$gray_2: #4F4F4F;

$base:#fafafa;