@import "../../App.scss";
@media (min-width: $lg) {
  .main-container {
    max-height: 100vh;
  }
}
.main-container {
  background: #eaecf5;
  user-select: none;
  padding: 0px;
  overflow: hidden;
}
.header-category-menu {
  background: #ffffff;
  border-radius: 5px;
}
.header-category-menu button {
  color: #4f4f4f;
  font-weight: bold;
  &:hover {
    color: $orange_primary;
    text-decoration: none;
  }
}
.header-category-menu .active {
  position: relative;
  color: $orange_primary;
}
.header-category-menu .active .active-underline {
  position: absolute;
  background: $orange_primary;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
.food-search {
  padding: 30px;
  border-radius: 10px;
}
.item-card-row {
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.order-bill {
  background: #ffffff;
  border-radius: 20px;
}
