@import "../../App.scss";
.order-popup-modal {
  font-family: "Barlow", sans-serif;
}
.order-popup-item-name {
  font-weight: bold;
  font-size: 18px;
}
.order-popup-close-btn {
  cursor: pointer;
  color: $orange_primary;
  &:hover {
    color: $orange_secondary;
  }
  &:active {
    color: $orange_light_primary;
  }
}
.order-popup-item-count {
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.order-popup-in-out {
  color: $orange_primary;
}
.order-popup-item-dropdown {
  padding: 10px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.order-popup-bottom-button {
  width: 250px;
  height: 45px;
  font-size: 13px;
}
.order-popup-cancel-icon {
  color: $orange_primary;
}
.add-food-input {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 15px;
}
.upload-image {
  display: inline-block;
  background-color: #ffffff;
  color: $gray_2;
  padding: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease;
  &:hover {
    background-color: $base;
  }
}
.add-variant-button {
  width: 100%;
  background-color: #ffffff;
  border: 1px dashed $orange_primary;
  color: $orange_primary;
  border-radius: 0%;
  font-size: 14px;
  &:hover {
    background-color: #ffffff;
    border: 1px dashed $orange_light_primary;
    color: $orange_secondary;
  }
  &:active {
    background-color: $orange_light_primary !important;
  }
  &:focus {
    background-color: #ffffff;
    border: 1px dashed $orange_light_primary !important;
    color: $orange_secondary !important;
    box-shadow: 0px 0px 0px 3px rgba($orange_primary, 0.3) !important;
  }
}
.error-field-addon {
  border: 1px solid #d44;
}
