@import "../../App.scss";


body{
    background-color: #EAECF5;
    font-family: 'Barlow', sans-serif;
}

.button1{
    background-color: white;
    padding: 15px;
    border-radius: 8px ;

}


.pill-active{
    padding: 8px;
}

.pill-inactive{
    background-color: red;
    padding: 8px;
}

.icon{
    color: #6fcf97;
    border: solid #6fcf97 1px;

}

.icon2{
    color: #eb5757;
    border: solid #eb5757 1px;
    border-radius: 100%;
}

.table{
    background-color: white;
    height:600px;
    text-align: center;
    color: #333333;
    border-radius: 8px;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.table img{
    height: 54px;
}

.formlen{
    border-radius: 8px;
    height: 52px;
    width: 415px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:0px;
    background-color: white;
    color: #4f4f4f;
}

.primary-button{
    background: $orange_primary;
    border-radius: 8px;
    color: $base;
    border-color: $orange_primary;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
    width: 100%;
    &:hover {
      background: $orange_secondary;
      color: $orange_light_secondary;
      border-color: $orange_primary;
    }
    &:active,
    &:focus {
      background: $orange_secondary !important;
      color: $orange_light_secondary !important;
    }
}