@import "../../App.scss";
body{
    background: #e5e5e5 !important;
}
.sideBar{
    background-color: white;
    height: 98vh;
}
.sidebar-link{
    font-family: 'Barlow', sans-serif;
}

.sidebar-link:hover{
    border-right: 5px $orange_primary solid;  
}

.sideBar .active{
    background: rgba(234, 124, 105, 0.29);
    color:$orange_primary;
    border-right: 5px $orange_primary solid;

}

.topbar{
    background-color: white;
    margin: 0px;
    height:5vh;
}
.topbar-link{
    font-family: 'Barlow', sans-serif;
}
.topbar-link:hover{
    background-color:$orange_primary;
    color: white;

}

a{
    text-decoration: none;
    color:#212529;

}
.sidebar-link.active a{
    color:$orange_primary;
    text-decoration: none;
}
.sidebar-link a:hover{
    color:$orange_primary;
    text-decoration: none;
}

.topbar-link a:hover{
    color:white;
    text-decoration:none
}