@import "../../App.scss";
body{
    background: #e5e5e5 !important;
}
.sideBar{
    background-color: white;
    height:100vh;
}
.sidebar-link{
    font-family: 'Barlow', sans-serif;
}

.sidebar-link:hover{
    color:orange;
    border-right: 5px orange solid;  
}

.sideBar .active{
    background: rgba(234, 124, 105, 0.29);
    color:$orange_primary;
    border-right: 5px $orange_primary solid;

}

.topbar{
    background-color: white;
    margin: 0px;
    height:max-content;
}
.topbar-link{
    padding: 10px 5px;
    font-family: 'Barlow', sans-serif;
}
.topbar-link:hover{
    background-color:$orange_primary;
    color: white;

}