@import "../../App.scss";
.add-new-item-card {
  user-select: none;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background: rgba($color: $orange_light_secondary, $alpha: 0.6);
  }
}
.food-management-loading {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.6;
  z-index: 99999;
}
