@import '/src/App.scss';

.order-body {
    background-color: #E5E5E5;
    ;
  }
  
  .order-header {
    font-family: "Barlow", sans-serif;
    font-size: 28px;
    color: #4f4f4f;
  
  }
  
  .filter-order {
    font-family: "Barlow", sans-serif;
    margin-top: 15px;
    color: #333333;
  
    padding: 10px;
    background-color: #E5E5E5;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 8px;
  
    &:hover {
      background: #f5eaea !important;
      color: #111010;
    }
  
  }
  
  .filter-icon {
    margin-right: 10px;
  }
  
  .date-time {
    font-size: 16px;
    margin-left: 2px;
    color: #828282;
  
  }
  