@import "../../App.scss";


.order-report{
    background-color: white;
    color: #333 !important;
}

.trending-tab{
    background-color: white;
}
.main-body{
    max-height:77vh;
    overflow-y: scroll;
    scrollbar-width: none;
    
}
.main-body::-webkit-scrollbar {
    display: none;
}