.orderSummary{
    overflow-x: auto;
    white-space: nowrap;
}
  
 .served, .served:disabled {
  border: 1px solid #219653;
  color:#219653;
  box-sizing: border-box;
  border-radius: 15px;
  background: #ffffff;
  margin-right: 3px;
}
.pending {
  border: 1px solid #f2994a !important;
  color:#f2994a !important;
  box-sizing: border-box !important;
  border-radius: 15px !important;
  background: #ffffff !important;
  margin-right: 3px !important;
}
.ready{
  border: 1px solid #219653;
  color:#219653;
  box-sizing: border-box;
  border-radius: 0px 15px 15px 0px !important;
  border-left: 15px solid #219653;
  background: #ffffff;
  margin-right: 3px;
}
.btn.preparing {
  border: 1px solid #9b51e0;
  border-radius: 0px 15px 15px 0px !important;
  color:#9b51e0;
  border-left: 15px solid #9b51e0;
  box-sizing: border-box;
  background: #ffffff;
  margin-right: 3px;
}
.incounter {
  border: 1px solid #219653;
  border-radius: 0px 15px 15px 0px !important;
  color:#219653;
  border-left: 15px solid #219653;
  box-sizing: border-box;
  background: #ffffff;
  margin-right: 3px;
}
.canceled {
  border: 1px solid #eb5757 !important;
  color:#eb5757 !important;
  border-radius: 15px !important;
  box-sizing: border-box !important;
  border-radius: 15px !important;
  background: #ffffff !important;
  margin-right: 3px !important;
}
