@import "../../../App.scss";

.badge{
    height:25px !important;
    width:90px !important;
    font-size:14px;
}
.pill-served{
    color:#50D1AA !important;
    background-color:rgba(107, 226, 190, 0.24) !important;
}.pill-preparing{
    color:#9290fe !important;
    background-color: #9290FE33 !important;
}.pill-pending{
    color: #FFB572 !important;
    background: rgba(255, 181, 114, 0.2) !important;
}
.pill-canceled{
    color: #EB5757 !important;
    background: rgba(235, 87, 87, 0.2) !important;
}
.pill-ready{
    color: #07b307 !important;
    background: rgba(87, 235, 87, 0.2) !important;
}
.orderTable Table{
    color:rgb(51, 51, 51) !important;
    height: 50px !important;
}

.orderTable tbody{
    font-size: smaller;
}
.orderTable thead{
    font-size:small;
    font-weight: 200;
    border-bottom: #F2f2f2 solid 1px;
}